// $primary: #ff0000;
$background: #151515;
$background-elevated: #252525;
$font-primary: #eee;
$font-secondary: #ddd;
$input-primary: #444;
$shadow: #050505;

// used to compute the form offsets later
$elevated-padding: 3rem;

@import '../node_modules/bootstrap/scss/bootstrap';

.background {
	background: $background;
}

.elevated {
	background: $background-elevated;
	box-shadow: 4px 4px 6px $shadow;
	padding: $elevated-padding;
}

.input-primary {
	background: $input-primary;
	color: $font-primary;

	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-radius: 0px;
}

.input-primary:focus {
	background: $input-primary;
	color: $font-primary;

	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-radius: 0px;
}

.href-secondary {
	color: $font-secondary;
}

.href-secondary:hover {
	color: $font-secondary;
	filter: brightness(0.7);
}

.button-primary {
	$padding-y: 0.3rem;
	$padding-x: 1.5rem;
	border-radius: 1px;

	padding: $padding-y $padding-x $padding-y $padding-x;
}

.font-primary {
	color: $font-primary;
}

.font-secondary {
	color: $font-secondary;
}

#frame-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 100%);
	grid-column-gap: 2 * $elevated-padding;
}

#btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#btn-container button:only-child{
	margin: 0 auto;
}