@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css';
.input-primary {
  background: #444;
  color: #eee;
  border: none;
  border-radius: 0;
  transition: none;
}

::placeholder {
  color: #aaa !important;
}

.input-primary:focus {
  background: #444;
  color: #eee;
  border: none;
  box-shadow: none;
}

.input-container {
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  outline: none;
}

.underline {
  transition: all 0.5s ease;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #111;
}

.input-container > input:focus + .underline, .input-container > input:hover + .underline {
  left: 0;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(1deg);
  }
  66% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input-error {
  animation: wiggle 0.2s;
  box-shadow: 0px 0px 7px #dc3545;
}

.grouped-inputs {
  border: 1px solid #444;
  padding: 1rem;
}

.form-check-input[type=checkbox], .form-check-input[type=checkbox]:focus {
  border-radius: 0;
  box-shadow: none;
}

.form-check-input[type=checkbox]:not(:checked) {
  background-color: #ccc;
}

.input-constraints {
  font-weight: bold;
  min-height: 1.5rem;
  line-height: 1.5rem;
}

.switch-group {
  margin-top: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #153ea5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.href-primary {
  color: #eee;
}

.href-primary:hover {
  color: #eee;
  filter: brightness(0.7);
}

.href-secondary {
  color: #bbb;
}

.href-secondary:hover {
  color: #bbb;
  filter: brightness(0.7);
}

.button-primary, .button-primary:focus, .button-primary:active {
  border-radius: 3px;
  background-color: #163ea7;
  border: none;
  box-shadow: none !important;
}

.button-danger, .button-danger:focus, .button-danger:active {
  border-radius: 3px;
  background-color: darkred;
  border: none;
  box-shadow: none !important;
}

.button-danger:hover {
  background-color: rgb(110, 0, 0);
}

@media screen and (max-width: 400px) {
  .button-primary {
    font-size: 1rem;
  }
}
.button-primary:hover, .button-primary:disabled {
  background-color: #00379f !important;
}

.button-border-underline {
  position: relative;
}

.button-border-underline::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: darkblue;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.button-border-underline:hover::before,
.button-border-underline:focus::before {
  transform: scaleX(1);
}

.modal-content {
  color: #eee;
  background-color: #222;
  border-radius: 3px;
}

.modal-header, .modal-footer {
  border-color: #444;
}

.modal-close {
  color: #eee;
  background-color: #555;
  border: none;
}

[data-frame-store] {
  display: none;
}

[data-frame-container] {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 100%);
  grid-column-gap: 6rem;
}

.frame {
  height: min-content;
}

html, body {
  width: 100%;
  height: 100%;
}

.background {
  background: #151515;
}

.elevated {
  background: #252525;
  box-shadow: 4px 4px 6px #050505;
  padding: 3rem;
}

.font-primary {
  color: #eee;
}

.font-secondary {
  color: #bbb;
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#btn-container button:only-child {
  margin: 0 auto;
}

.inactive-captcha {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.inline-highlight {
  background-color: #353535;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  position: relative;
  color: #eee;
  width: 80%;
  margin: auto;
}

.select2-container--hackthissite {
  background-color: #333;
  fill: #eee;
  color: #eee;
}
.select2-container--hackthissite .select2-selection--single {
  background-color: #333;
  border: 1px solid #444;
}
.select2-container--hackthissite .select2-selection--single .select2-selection__rendered {
  color: #eee;
}
.select2-container--hackthissite .select2-results__option--disabled {
  color: #353535;
}
.select2-container--hackthissite .select2-results__option--selected {
  background-color: #111;
}
.select2-container--hackthissite .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #222;
  color: white;
}
.select2-container--hackthissite .select2-dropdown {
  border: 1px solid #444;
}
.select2-container--hackthissite .select2-dropdown .select2-search--dropdown {
  background-color: #333;
}
.select2-container--hackthissite .select2-dropdown .select2-search--dropdown .select2-search__field {
  background-color: #454545;
  color: #eee;
  border: 1px solid #444;
}
.select2-container--hackthissite .select2-dropdown .select2-search--dropdown .select2-search__field:focus-visible {
  box-shadow: none;
  outline: none;
  border: 1px solid #444;
}
.select2-container--hackthissite select2-container--open.select2-container--above .select2-selection--single, .select2-container--hackthissite select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--hackthissite.select2-container--open.select2-container--below .select2-selection--single, .select2-container--hackthissite.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--hackthissite .select2-search--dropdown .select2-search__field {
  border: 1px solid #444;
}
.select2-container--hackthissite .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--hackthissite .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--hackthissite .select2-results__option {
  background-color: #333;
}
.select2-container--hackthissite .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--hackthissite .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--hackthissite .select2-selection--single .select2-selection__arrow {
  background-color: #333;
  border: none;
  border-left: 1px solid #444;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
}
.select2-container--hackthissite .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--hackthissite .select2-results__option--group {
  padding: 0;
}
.select2-container--hackthissite .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

[contenteditable=true]:active,
[contenteditable=true]:focus {
  border: none;
  outline: none;
}

.dashboard-container {
  position: relative;
  top: 7.5%;
  left: 12.5%;
  width: 75%;
  min-height: 85%;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
}
.dashboard-container #dashboard-navigation-bar {
  background: #202020;
  color: #eee;
  position: relative;
  left: 0;
  overflow: scroll;
  font-size: 1.3rem;
  width: 15%;
}
.dashboard-container #dashboard-navigation-bar #close-sidebar-btn {
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  padding: 3px;
  height: min-content;
  width: min-content;
  border: none;
}
.dashboard-container #dashboard-navigation-bar #close-sidebar-btn svg {
  fill: #eee;
}
.dashboard-container #dashboard-navigation-bar #dashboard-navigation-image {
  width: 90%;
  margin: 10px;
}
.dashboard-container #dashboard-navigation-bar #dashboard-navigation-category-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.dashboard-container #dashboard-navigation-bar #dashboard-navigation-category-list .dashboard-category-title {
  font-weight: bold;
  font-size: 0.7rem;
}
.dashboard-container #dashboard-navigation-bar #dashboard-navigation-category-list .dashboard-navigation-target {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.dashboard-container #dashboard-navigation-bar #dashboard-navigation-category-list .dashboard-navigation-target a {
  text-decoration: none;
  color: #eee;
}
.dashboard-container #dashboard-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.dashboard-container #dashboard-content #open-sidebar-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  padding: 3px;
  height: min-content;
  width: min-content;
  border: none;
}
.dashboard-container #dashboard-content #open-sidebar-btn svg {
  fill: #eee;
}
.dashboard-container #dashboard-content #dashboard-content-title {
  text-align: center;
  margin-bottom: 0;
}
.dashboard-container #dashboard-content #dashboard-title-warning {
  color: #eee;
  font-size: 0.9rem;
  margin: auto;
  text-align: center;
}
.dashboard-container #dashboard-content #dashboard-title-warning svg {
  fill: #eee;
}
.dashboard-container #dashboard-content hr {
  margin-top: 2px;
}
.dashboard-container #dashboard-content #dashboard-page-container {
  font-size: 20px;
  flex-grow: 1;
  margin: 3rem;
}
.dashboard-container #dashboard-content[data-dirty=false] #dashboard-title-warning {
  opacity: 0;
}

#page-profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#page-profile #profile-picture-container {
  display: flex;
  flex-direction: column;
}
#page-profile #profile-picture-container .grouped-inputs {
  width: min-content;
  margin: auto;
}
#page-profile #profile-picture-container .grouped-inputs input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
#page-profile #profile-picture-container .grouped-inputs #profile-picture {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}
#page-profile #profile-picture-container .grouped-inputs #profile-picture img {
  border-radius: 2px;
  position: relative;
  width: 100%;
  height: 100%;
}
#page-profile #profile-picture-container .grouped-inputs #profile-picture-overlay {
  border-radius: 2px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-profile #profile-picture-container .grouped-inputs #profile-picture-overlay svg {
  position: absolute;
  bottom: 3px;
  right: 3px;
  fill: #eee;
}
#page-profile #profile-picture-container .grouped-inputs #profile-picture-overlay:hover {
  cursor: pointer;
  opacity: 1;
}
#page-profile #profile-picture-container .grouped-inputs #account-dates {
  flex-grow: 1;
  color: #eee;
  font-size: 0.9rem;
  margin: auto;
  text-align: center;
}
#page-profile #about-me {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#page-profile #about-me label {
  position: relative;
  left: 0;
  top: 0;
}
#page-profile #about-me #about-me-container {
  position: relative;
  left: 0;
  flex-grow: 1;
}
#page-profile #about-me #about-me-container textarea {
  position: relative;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #212121;
  border: 1px solid #444;
  color: #eee;
  padding: 5px 10px 5px 10px;
  resize: none;
}
#page-profile #about-me #about-me-container textarea:active, #page-profile #about-me #about-me-container textarea:focus {
  outline: none;
}

.gmt-offset {
  font-size: 0.9rem;
  font-style: italic;
}

#page-security {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
#page-security #change-passphrase, #page-security #add-mfa, #page-security #change-secret-question {
  text-align: center;
}

#page-privacy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#page-privacy form {
  text-align: center;
}
#page-privacy #privacy-options-list, #page-privacy #submit-privacy {
  display: block;
  margin: 1rem auto 0 auto;
}
#page-privacy .list-outer {
  list-style: none;
}
#page-privacy .list-inner {
  list-style: none;
}

.oidc-button {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 50px;
  width: 280px;
  border-radius: 2px;
}
.oidc-button .oidc-icon {
  flex: 20%;
  padding: 5px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.oidc-button .oidc-text {
  display: flex;
  flex: 80%;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #eee;
  border-radius: 2px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
}

.oidc-button:hover {
  cursor: pointer;
}

.oidc-github .oidc-icon {
  background-color: #eee;
  border-color: #24292f;
}
.oidc-github .oidc-text {
  background-color: #24292f;
  border-color: #eee;
}
.oidc-github svg {
  fill: #24292f;
}

.oidc-gitlab .oidc-icon {
  background-color: #eee;
  border-color: #2f2a6b;
}
.oidc-gitlab .oidc-text {
  background-color: #2f2a6b;
  border-color: #eee;
}
.oidc-gitlab svg {
  fill: #2f2a6b;
}

.oidc-discord .oidc-icon {
  background-color: #fff;
  border-color: #5865F2;
}
.oidc-discord .oidc-text {
  background-color: #5865F2;
  border-color: #fff;
}
.oidc-discord svg {
  fill: #5865F2;
}

.profile-data-key {
  font-size: 0.8rem;
  font-weight: bold;
}

.profile-data-value {
  padding: 3px 5px 3px 5px;
}

.editable-value {
  border-radius: 1px;
}

span[contenteditable=true].editable-value {
  background-color: #151515;
}

.edit-button {
  padding: 2px;
}
.edit-button svg {
  fill: #eee;
}

@media (min-width: 800px) {
  #open-sidebar-btn, #close-sidebar-btn {
    display: none;
  }
}

/*# sourceMappingURL=dashboard.css.map */
