$input-underline: darkblue;


.button-primary, .button-primary:focus, .button-primary:active {
	border-radius: 3px;
	background-color: #163ea7;
	border: none;
	box-shadow: none!important;
}

@media screen and (max-width: 400px) {
  .button-primary  {
    font-size: 1rem;
  }
}

.button-primary:hover {
	background-color: #00379f!important;
}

.button-border-underline {
	position: relative;
}

.button-border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: $input-underline;
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.button-border-underline:hover::before,
.button-border-underline:focus::before {
  transform: scaleX(1);
}