@import "main.scss";
@import "select2.scss";
@import "mixins.scss";
@import "buttons.scss";

// Eliminate useless defaults on contenteditable elements
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border:none;
    outline:none;
}

// Dashboard stuff
$navbar-width: 15%;
$dashboard-width: 75%;
$min-dashboard-height: 85%;

body {
    @include content-centered;

    width: 100%;
    height: 100%;
    color: $font-primary;
}

.dashboard-container {
    position: relative;
    width: 60%;
    min-height: 85%;
    padding: 0!important;
    display: flex;
    flex-direction: row;

    #dashboard-navigation-bar {
        background: #202020;
        position: relative;
        left: 0;
        overflow: scroll;
        font-size: 1.3rem;
        width: $navbar-width;

        #close-sidebar-btn {
            background-color: rgba(0, 0, 0, 0);
            margin: 5px;
            padding: 3px;
            height: min-content;
            width: min-content;
            border: none;

            svg {
                fill: $font-primary;
            }
        }

        #dashboard-navigation-image {
            width: 90%;
            margin: 10px;
        }

        #dashboard-navigation-category-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 20px;
            padding-right: 20px;

            .dashboard-category-title {
                font-weight: bold;
                font-size: 0.7rem;
            }

            .dashboard-navigation-target {
                overflow: scroll;
                display: flex;
                flex-direction: column;
                
                a {
                    text-decoration: none;
                    color: $font-primary;
                }
            }
        }
    }


    #dashboard-content {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        #open-sidebar-btn {
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            margin: 5px;
            padding: 3px;
            height: min-content;
            width: min-content;
            border: none;

            svg {
                fill: $font-primary;
            }
        }

        #dashboard-content-title {
            text-align: center;
            margin-bottom: 0;
        }

        #dashboard-title-warning {
            color: $font-primary;
            font-size: 0.9rem;
            margin: auto;
            text-align: center;

            svg {
                fill: $font-primary;
            }
        }

        hr {
            margin-top: 2px;
        }

        #dashboard-page-container {
            font-size: 20px;
            flex-grow: 1; // take up all the remaining space
            margin: 3rem;
        }
    }

    #dashboard-content[data-dirty=false] #dashboard-title-warning {
        opacity: 0;
    }
}


// Profile page
#page-profile {
    height: 100%;
    display: flex;
    justify-content: space-around;

    #column-left, #column-right {
        height: 100%;
    }

    #column-left {
        flex-basis: 33%;
        flex-grow: 0;
    }

    #column-right {
        flex-basis: 66%;
        flex-grow: 0;
        display: flex;
        flex-direction: column;

        #profile-information {
            display: flex;
            flex-direction: row;

            div {
                flex-grow: 1;
            }
        }
    }


    #profile-picture-container {
        position: relative;
        width: 50%;
        aspect-ratio: 1 / 1; // profile pictures are square
        margin: auto;

        // only needed to open the file upload form
        #profile-picture-upload {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
        }

        #profile-picture {
            @include round;

            width: 100%;
            height: 100%;
            margin: auto;
            border: 1px solid #444;
            overflow: hidden;

            img {
                position: relative;
                width: 100%;
                height: 100%;
            }

            #profile-picture-overlay {
                @include round;

                border: 1px solid #444;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

            }

            #profile-picture-overlay:hover {
                cursor: pointer;
                opacity: 1;
            }
        }

        #profile-picture-edit-btn {
            @include content-centered;
            @include round;

            position: absolute;
            right: 0;
            bottom: 0;
            width: 40px;
            height: 40px;
            background-color: #333;
            border: 2px solid #444;

            svg {
                fill: $font-primary;
            }
        }

        #profile-picture-edit-btn:hover {
            background-color: #222;
        }
    }

    #profile-names {
        width: 100%;
        text-align: center;

        #display-name-container {
            height: min-content;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #display-name {
                font-size: 3rem;
                line-height: 1;
            }
        }

        #account-name-container {
            font-size: 2rem;
            line-height: 1;
        }

        #edit-display-name-btn {
            color: $font-primary;
            position: relative;
            width: 90%;
            margin: 20px auto 0 auto;
        }
    }
    
    hr {
        width: 90%;
        margin: 20px auto 10px auto!important;
    }

    #account-dates {
        width: 90%;
        margin: auto;

        th {
            font-weight: normal;
        }

        #joined-date, #last-login-date {
            font-style: italic;
        }
    }

    #timezone-container {
        margin-top: 1em;
    }

    #about-me {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 5em;
        max-height: 10em;
        height: 80%;
        flex-grow: 1;
        margin-top: 1em;

        label {
            position: relative;
            left: 0;
            top: 0;
        }

        #about-me-content {
            margin: 0 0 0 5px;
            position: relative;
            left: 0;
            width: 100%;
            height: 100%;
            
            background-color: #212121;
            border: 1px solid #444;
            color: $font-primary;
            padding: 5px 10px 5px 10px;
            resize: none;
        }

        textarea:active, textarea:focus {
            outline: none;
        }
    }
}

.gmt-offset {
    font-size: 0.9rem;
    font-style: italic;
}


#page-security {
    display: flex;
    flex-direction: column;

    #page-security-frame-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;

        #change-passphrase, #add-mfa, #change-secret-question {
            text-align: center;
        }
    }
    #submit-button-container {
        width: 100%;
        margin-top: 1em;
        display: flex;

        button {
            font-size: 1.2em;
            margin: auto;
            padding: 3px 7px 3px 7px;
        }
    }
}

#page-privacy {
    display: flex;
    flex-direction: row;
    justify-content: center;

    form {
        text-align: center;
    }

    #privacy-options-list, #submit-privacy {
        display: block;
        margin: 1rem auto 0 auto;
    }

    .list-outer {
        list-style: none;
    }

    .list-inner {
        list-style: none;
    }
}




// OIDC stuff
$github-dark: #24292f;
$github-light: #eee;

$gitlab-dark: #2f2a6b;
$gitlab-light: #eee;

$discord-dark: #5865F2;
$discord-light: #fff;

.oidc-button {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50px;
    width: 280px;
    border-radius: 2px;

    .oidc-icon {
        flex: 20%;
        padding: 5px;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-radius: 2px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .oidc-text {
        display: flex;
        flex: 80%;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: $font-primary;
        border-radius: 2px;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
    }
}

.oidc-button:hover {
    cursor: pointer;
}



.oidc-github {
    .oidc-icon {
        background-color: $github-light;
        border-color: $github-dark;
    }

    .oidc-text {
        background-color: $github-dark;
        border-color: $github-light;
    }

    svg {
        fill: $github-dark;
    }
}

.oidc-gitlab {
    .oidc-icon {
        background-color: $gitlab-light;
        border-color: $gitlab-dark;
    }

    .oidc-text {
        background-color: $gitlab-dark;
        border-color: $gitlab-light;
    }

    svg {
        fill: $gitlab-dark;
    }
}

.oidc-discord {
    .oidc-icon {
        background-color: $discord-light;
        border-color: $discord-dark;
    }

    .oidc-text {
        background-color: $discord-dark;
        border-color: $discord-light;
    }

    svg {
        fill: $discord-dark;
    }
}

// editable values
.profile-data-key {
    font-size: 0.8rem;
    font-weight: bold;
}

.profile-data-value {
    padding: 3px 5px 3px 5px;
}

.editable-value {
    border-radius: 1px;
}

span[contenteditable=true].editable-value {
    background-color: #151515;
}

.edit-button {
    padding: 2px;
    height: 35px;
    aspect-ratio: 1 / 1;

    svg {
        fill: $font-primary;
    }
}

@media(min-width: 800px) {
    // opening/closing the sidebar isn't necessary if the screen is large enough
    #open-sidebar-btn, #close-sidebar-btn {
        display: none;
    }
}
