// $primary: #ff0000;
$background: #151515;
$background-elevated: #252525;
$font-primary: #eee;
$font-secondary: #bbb;
$blue-primary: #153ea5;

$shadow: #050505;

// used to compute the form offsets later
$elevated-padding: 3rem;

@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css';
@import 'inputs.scss';
@import 'links.scss';
@import 'buttons.scss';
@import 'modal.scss';
@import 'frame.scss';

html, body {
    height: 100%;
}

.background {
	background: $background;
}

.elevated {
	background: $background-elevated;
	box-shadow: 4px 4px 6px $shadow;
	padding: $elevated-padding;
}

.font-primary {
	color: $font-primary;
}

.font-secondary {
	color: $font-secondary;
}

#btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#btn-container button:only-child{
	margin: 0 auto;
}

.inactive-captcha {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.inline-highlight {
	background-color: #353535;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    position: relative;
    color: $font-primary;
    width: 80%;
    left: 10%;
}
