// $primary: #ff0000;
$background: #151515;
$background-elevated: #252525;
$font-primary: #eee;
$font-secondary: #ddd;
$blue-primary: #153ea5;

$shadow: #050505;

// used to compute the form offsets later
$elevated-padding: 3rem;

@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css';
@import 'inputs.scss';
@import 'links.scss';
@import 'buttons.scss';
@import 'modal.scss';
@import 'frame.scss';

html, body {
    height: 100%;
}

.background {
	background: $background;
}

.elevated {
	background: $background-elevated;
	box-shadow: 4px 4px 6px $shadow;
	padding: $elevated-padding;
}

.font-primary {
	color: $font-primary;
}

.font-secondary {
	color: $font-secondary;
}

#btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#btn-container button:only-child{
	margin: 0 auto;
}

.inactive-captcha {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.inline-highlight {
	background-color: #353535;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    position: relative;
    color: $font-primary;
    width: 80%;
    left: 10%;
}

// Dashboard stuff
$navbar-width: 15%;

.dashboard-container {
    position: relative;
    width: 75%;
    height: 85%;
    padding: 0!important;
    display: flex;
    flex-direction: row;
}

.dashboard-navigation-bar {
    background: #202020;
    color: $font-primary;
    position: relative;
    left: 0;
    height: 100%;
    flex: $navbar-width;
    overflow: scroll;
    font-size: 1.3rem;
}

.dashboard-navigation-target {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.dashboard-navigation-category-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-navigation-image {
    width: 90%;
    margin: 10px;
}

.dashboard-navigation-target a {
    text-decoration: none;
    color: $font-primary;
}

.dashboard-navigation-category {
    border-bottom: 1px solid #555;
}

.dashboard-category-title {
    font-weight: bold;
    font-size: 0.7rem;
}

.dashboard-content {
    flex: 100% - $navbar-width;
}

#dashboard-content-title {
    text-align: center;
}

.dashboard-page-container {
    margin: 3rem;
}

// Account page
#page-privacy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile-picture {
    position: relative;
    width: 100px;
    height: 100px;
}

#profile-picture img {
    position: relative;
    width: 100%;
    height: 100%;
}

#profile-picture-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#profile-picture-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

svg {
    fill: $font-primary;
}
#profile-picture-overlay svg {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.list-outer {
    list-style: none;
}

.list-inner {
    list-style: none;
}


// OIDC stuff
$github-dark: #24292f;
$github-light: #eee;

$gitlab-dark: #2f2a6b;
$gitlab-light: #eee;

$discord-dark: #5865F2;
$discord-light: #fff;

.oidc-button {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 60px;
    width: 300px;
    border-radius: 2px;
}

.oidc-button:hover {
    cursor: pointer;
}

.oidc-icon {
    flex: 20%;
    padding: 5px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-radius: 2px;
}

.oidc-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.oidc-text {
    display: flex;
    flex: 80%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $font-primary;
    border-radius: 2px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}

.oidc-github {
    .oidc-icon {
        background-color: $github-light;
        border-color: $github-dark;
    }

    .oidc-text {
        background-color: $github-dark;
        border-color: $github-light;
    }

    svg {
        fill: $github-dark;
    }
}

.oidc-gitlab {
    .oidc-icon {
        background-color: $gitlab-light;
        border-color: $gitlab-dark;
    }

    .oidc-text {
        background-color: $gitlab-dark;
        border-color: $gitlab-light;
    }

    svg {
        fill: $gitlab-dark;
    }
}

.oidc-discord {
    .oidc-icon {
        background-color: $discord-light;
        border-color: $discord-dark;
    }

    .oidc-text {
        background-color: $discord-dark;
        border-color: $discord-light;
    }

    svg {
        fill: $discord-dark;
    }
}
