// $primary: #ff0000;
$background: #151515;
$background-elevated: #252525;
$font-primary: #eee;
$font-secondary: #ddd;

$shadow: #050505;

// used to compute the form offsets later
$elevated-padding: 3rem;

@import '../bootstrap/scss/bootstrap';
@import 'inputs.scss';
@import 'links.scss';
@import 'buttons.scss';

.background {
	background: $background;
}

.elevated {
	background: $background-elevated;
	box-shadow: 4px 4px 6px $shadow;
	padding: $elevated-padding;
}

.font-primary {
	color: $font-primary;
}

.font-secondary {
	color: $font-secondary;
}

#frame-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 100%);
	grid-column-gap: 2 * $elevated-padding;
}

#btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#btn-container button:only-child{
	margin: 0 auto;
}

.inactive-captcha {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
