.modal-content {
	color: $font-primary;
	background-color: #222;
	border-radius: 3px;
}

.modal-header, .modal-footer {
	border-color: #444;
}

.modal-close {
	color: $font-primary;
	background-color: #555;
	border: none;
}
