// This is a custom select2 theme
// I made it for hackthissite.org but you can reuse it anywhere you like,
// just initialize select2 with
//
// ```
// $("#select2").select2({
//     theme: "hackthissite"
// });
// ```
$border-color: #444;
$border-radius: 2px;
$selection-background: #333;
$search-background: #454545;

.select2-container--hackthissite {
    // width: 100%!important; // select2 tries to override this, badly
    background-color: $selection-background;
    fill: $font-primary;
    color: $font-primary;

    .select2-selection--single {
        background-color: #333;
        border: 1px solid $border-color;

        .select2-selection__rendered {
            color: $font-primary;
        }
    }

    .select2-results__option--disabled {
        color: #353535;
    }

    .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #222;
        color: white;
    }

    .select2-dropdown {
        border: 1px solid $border-color;

        .select2-search--dropdown {
            background-color: $selection-background;

            .select2-search__field {
                background-color: $search-background;
                color: $font-primary;
                border: 1px solid $border-color;
            }

            .select2-search__field:focus-visible {
                box-shadow: none;
                outline: none;
                border: 1px solid $border-color;
            }
        }
    }

    // LAYOUT
    select2-container--open.select2-container--above {
        .select2-selection--single, .select2-selection--multiple {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.select2-container--open.select2-container--below {
        .select2-selection--single, .select2-selection--multiple {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .select2-search--dropdown {
        .select2-search__field {
            border: 1px solid $border-color;
        }
    }

    .select2-search--inline {
        .select2-search__field {
            background: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            -webkit-appearance: textfield;
        }
    }

    .select2-results > .select2-results__options {
        max-height: 200px;
        overflow-y: auto;
    }

    .select2-results__option {
        background-color: #333;

        .select2-results__option {
            padding-left: 1em;

            .select2-results__group {
                padding-left: 0;
            }

            .select2-results__option {
                margin-left: -1em;
                padding-left: 2em;

                .select2-results__option {
                    margin-left: -2em;
                    padding-left: 3em;

                    .select2-results__option {
                        margin-left: -3em;
                        padding-left: 4em;

                        .select2-results__option {
                            margin-left: -4em;
                            padding-left: 5em;

                            .select2-results__option {
                                margin-left: -5em;
                                padding-left: 6em;
                            }
                        }
                    }
                }
            }
        }
    }
    .select2-selection--single {
        .select2-selection__arrow {
            background-color: $selection-background;

            border: none;
            border-left: 1px solid $border-color;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            height: 26px;

            position: absolute;

            top: 1px;
            right: 1px;

            width: 30px;

            b {
                border-color: #888 transparent transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0 4px;

                height: 0;
                left: 50%;

                margin-left: -4px;
                margin-top: -2px;

                position: absolute;

                top: 50%;
                width: 0;
            }
        }
    }

    .select2-results__option--group {
        padding: 0;
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: 6px;
    }
}
